<div class="home"><h1>Home Page</h1></div><hr>
<div class="para">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto distinctio
        assumenda necessitatibus maxime perspiciatis consequatur quam, dignissimos eaque
        facilis! Saepe amet ea hic. Sit dolorem aliquam accusantium maiores optio
        repudiandae ullam earum ipsa, veniam laborum reiciendis amet sapiente nulla cum
        temporibus corrupti labore, suscipit qui. Recusandae voluptatibus ducimus, cum
        dolores rem reiciendis natus? Recusandae quibusdam odio eos sit velit quas aut,
        iste ratione, maiores nemo modi sed, temporibus ut nobis totam ipsam commodi.
        Eligendi sapiente totam impedit quidem laudantium, voluptates placeat fugit
        eaque numquam provident hic ex ad sint perferendis sed quasi est quibusdam odio
        minima nostrum quia ratione minus? Tempore ducimus quos ut dolores a. Delectus
        debitis a accusantium facilis, ipsa, reiciendis amet eveniet distinctio quia,
        vero enim! Molestiae, reiciendis consequuntur officiis alias reprehenderit velit
        similique impedit veritatis esse nam modi tempora nemo eum aperiam, suscipit
        quos iusto quod libero aspernatur tempore accusamus hic? Cum sit fugiat saepe
        reiciendis, accusantium sed quos ipsum, id aperiam eaque dolorem rem ipsam magni
        iusto neque sunt eum ea natus mollitia. Veritatis vero autem amet velit
        deleniti, ea sequi ducimus! Qui eaque suscipit a recusandae libero! Quos aut
        dignissimos autem cupiditate nesciunt deleniti voluptatibus totam porro vitae
        culpa, voluptates, inventore id atque quaerat?
        </p>
</div>